<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectManageMapper">
    <insert id="insertProjectInfo" parameterType="map">
        INSERT INTO PROJECT_INFO
        (	project_id
        ,	project_purpose_cd
        ,	data_analysis_id
        ,   status
        ,   start_time
        )
        VALUES
            (	#{project_id}
            ,	#{project_purpose_cd}
            ,	#{data_analysis_id}
            ,	#{status}
            ,	#{start_time}
            )
    </insert>
    <insert id="insertDPAnlsInfo" parameterType="map">
<!--        <selectKey keyProperty="dp_analysis_id" resultType="long"-->
<!--                   order="BEFORE">-->
<!--            SELECT UUID_SHORT()-->
<!--        </selectKey>-->
        INSERT INTO DP_ANLS_INFO
        (	dp_analysis_id
        ,	data_analysis_json
        ,	data_analysis_id
        )
        VALUES
        (	#{dp_analysis_id}
        ,	#{data_analysis_json}
        ,	#{data_analysis_id}
        )
    </insert>
    <insert id="insertAlgAnlsInfo" parameterType="map">
<!--        <selectKey keyProperty="alg_anal_id" resultType="long"-->
<!--                   order="BEFORE">-->
<!--            SELECT UUID_SHORT()-->
<!--        </selectKey>-->
        INSERT INTO ALG_ANAL_INFO
        (	alg_anal_id
        ,	alg_id
        ,	metadata_json
        ,   alg_type
        ,   alg_json
        )
        VALUES
        (	#{alg_anal_id}
        ,	#{alg_id}
        ,	#{metadata_json}
        ,	#{alg_type}
        ,	#{alg_json}
        )
    </insert>
    <insert id="insertDataProcessInfo" parameterType="map">
<!--        <selectKey keyProperty="data_process_id" resultType="long"-->
<!--                   order="BEFORE">-->
<!--            SELECT UUID_SHORT()-->
<!--        </selectKey>-->
        INSERT INTO DATA_PROCESS_INFO
        (	data_process_id
        ,	project_id
        ,	field_cnvr_id
        ,   dp_analysis_id
        )
        VALUES
        (	#{data_process_id}
        ,	#{project_id}
        ,	#{field_cnvr_id}
        ,	#{dp_analysis_id}
        )
    </insert>
    <insert id="insertMLAlgorithmInfo" parameterType="map">
<!--        <selectKey keyProperty="learn_alg_id" resultType="long"-->
<!--                   order="BEFORE">-->
<!--            SELECT UUID_SHORT()-->
<!--        </selectKey>-->
        INSERT INTO ML_ALGORITHM_INFO
        (	learn_alg_id
        ,   data_process_id
        ,	project_id
        ,	alg_anal_id
        ,   alg_id
        ,   alg_json
        )
        VALUES
        (	#{learn_alg_id}
        ,   #{data_process_id}
        ,	#{project_id}
        ,	#{alg_anal_id}
        ,	#{alg_id}
        ,   #{alg_json}
        )
    </insert>
    <insert id="insertMLParamInfo" parameterType="map">
<!--        <selectKey keyProperty="param_id" resultType="long"-->
<!--                   order="BEFORE">-->
<!--            SELECT UUID_SHORT()-->
<!--        </selectKey>-->
        INSERT INTO ML_PARAM_INFO
        (	param_id
        ,   learn_alg_id
        ,   data_process_id
        ,	project_id
        ,	param_json
        )
        VALUES
        (	#{param_id}
        ,   #{learn_alg_id}
        ,   #{data_process_id}
        ,	#{project_id}
        ,	#{param_json}
        )
    </insert>
    <insert id="insertLearnHist" parameterType="map">
        <selectKey keyProperty="learn_hist_no" resultType="long"
                   order="BEFORE">
            SELECT UUID_SHORT()
        </selectKey>
        INSERT INTO LEARN_HIST
        (	learn_hist_no
        ,   param_id
        ,   learn_alg_id
        ,   data_process_id
        ,	project_id
        )
        VALUES
        (	#{learn_hist_no}
        ,   #{param_id}
        ,   #{learn_alg_id}
        ,   #{data_process_id}
        ,	#{project_id}
        )
    </insert>

    <select id="selectLearningModel" resultType="map">
        SELECT learn_hist_no, learn_sttus_cd
        FROM LEARN_HIST
        WHERE project_id = #{project_id}
    </select>
    <select id="selectProjectSchedule" parameterType="string" resultType="map">
        SELECT *
        FROM PROJECT_INFO
        WHERE status = #{status}
    </select>
    <select id="selectDataAnalsId" parameterType="string" resultType="map">
        SELECT data_analysis_id
        FROM DATA_ANLS_INFO
        WHERE dataset_id = #{dataset_id}
    </select>
    <select id="selectAlgInfoList" resultType="map">
        SELECT alg_id, alg_nm
        FROM ALGORITHM_INFO
    </select>
    <select id="selectParamInfo" parameterType="string" resultType="map">
        SELECT *
        FROM ALGORITHM_PARAM
        WHERE alg_id = #{alg_id}
    </select>


    <update id="updateProjectSttus" parameterType="map">
        UPDATE PROJECT_INFO
        SET    status = #{status}
        WHERE  project_id = #{project_id}
    </update>
</mapper>
