<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectManageMapper">
    <insert id="insertProjectInfo" parameterType="map">
        INSERT INTO PROJECT_INFO
        (	project_id
        ,	project_purpose
        ,	dataset_id
        )
        VALUES
            (	#{project_id}
            ,	#{project_purpose_cd}
            ,	#{dataset_id}
            )
    </insert>
</mapper>