<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectManageMapper">
    <insert id="insertProjectInfo" parameterType="map">
        INSERT INTO PROJECT_INFO
        (	project_id
        ,	project_purpose_cd
        ,	data_analysis_id
        ,   status
        ,   start_time
        ,   project_target_field
        ,   modeling_mode
        ,   early_stop_param
        ,   tag
        )
        VALUES
            (	#{project_id}
            ,	#{project_purpose_cd}
            ,	#{data_analysis_id}
            ,	#{status}
            ,	#{start_time}
            , #{project_target_field}
            , #{modeling_mode}
            , #{early_stop_param}
            , #{tag}
            )
    </insert>
    <insert id="insertEDAInfo" parameterType="map">
      <selectKey keyProperty="eda_id" resultType="long"
                 order="BEFORE">
        SELECT UUID_SHORT()
      </selectKey>
      INSERT INTO EDA_INFO
      (	eda_id
      , status
      , dp_analysis_id
      , project_id
      )
      VALUES
        (	#{eda_id}
        , #{status}
        , #{dp_analysis_id}
        ,	#{project_id}
        )
    </insert>
    <insert id="insertDPAnlsInfo" parameterType="map">
        INSERT INTO DP_ANLS_INFO
        (	dp_analysis_id
        ,   project_id
        ,	data_analysis_json
        ,	data_analysis_id
        )
        VALUES
        (	#{dp_analysis_id}
        ,   #{project_id}
        ,	#{data_analysis_json}
        ,	#{data_analysis_id}
        )
    </insert>
    <insert id="insertAlgAnlsInfo" parameterType="map">
        INSERT INTO ALG_ANAL_INFO
        (	alg_anal_id
        ,   project_id
        ,	alg_id
        ,   dp_analysis_id
        ,	metadata_json
        ,   alg_type
        ,   alg_json
        ,   algorithm_code
        )
        VALUES
        (	#{alg_anal_id}
        ,   #{project_id}
        ,	#{alg_id}
        ,   #{dp_analysis_id}
        ,	#{metadata_json}
        ,	#{alg_type}
        ,	#{alg_json}
        ,	#{algorithm_code}
        )
    </insert>
    <insert id="insertMLParamInfo" parameterType="map">
        INSERT INTO ML_PARAM_INFO
        (	param_id
        ,   alg_id
        ,   alg_anal_id
        ,   dp_analysis_id
        ,	project_id
        ,	param_json
        )
        VALUES
        (	#{param_id}
        ,   #{alg_id}
        ,   #{alg_anal_id}
        ,   #{dp_analysis_id}
        ,	#{project_id}
        ,	#{param_json}
        )
    </insert>
    <insert id="insertLearnHist" parameterType="map">
        INSERT INTO LEARN_HIST
        (	learn_hist_no
        ,   param_id
        ,   alg_anal_id
        ,   alg_id
        ,   dp_analysis_id
        ,	project_id
        ,   learn_sttus_cd
        ,   start_time
        ,   eval_result_json
        )
        VALUES
        (	#{learn_hist_no}
        ,   #{param_id}
        ,   #{alg_anal_id}
        ,   #{alg_id}
        ,   #{dp_analysis_id}
        ,	#{project_id}
        ,   #{learn_sttus_cd}
        ,   #{start_time}
        ,   '{}'
        )
    </insert>

    <select id="selectLearningModel" resultType="map">
        SELECT learn_hist_no, learn_sttus_cd
        FROM LEARN_HIST
        WHERE project_id = #{project_id}
    </select>
    <select id="selectProjectSchedule" parameterType="string" resultType="map">
        SELECT *
        FROM PROJECT_INFO
        WHERE status = #{status}
    </select>
    <select id="selectEDASchedule" parameterType="string" resultType="map">
      SELECT *
      FROM EDA_INFO
      WHERE status = #{status}
    </select>
    <select id="selectDataAnalsId" parameterType="string" resultType="map">
        SELECT data_analysis_id
        FROM DATA_ANLS_INFO
        WHERE dataset_id = #{dataset_id}
    </select>
    <select id="selectAlgInfoList" resultType="map">
        SELECT alg_id, alg_nm, alg_type
        FROM ALGORITHM_INFO
    </select>
    <select id="selectParamInfo" parameterType="string" resultType="map">
        SELECT *
        FROM ALGORITHM_PARAM
        WHERE alg_id = #{alg_id}
    </select>
    <select id="selectLearnReqList" parameterType="string" resultType="map">
        SELECT *
        FROM LEARN_HIST
        WHERE project_id = #{project_id}
        AND learn_sttus_cd = '1'
    </select>
    <select id="selectDpAnlsInfo" resultType="map">
        SELECT *
        FROM DP_ANLS_INFO
        WHERE dp_analysis_id = #{dp_analysis_id}
        AND project_id = #{project_id}
    </select>

    <select id="selectMLParamInfo" parameterType="string" resultType="map">
        SELECT *
        FROM ML_PARAM_INFO
        WHERE project_id = #{project_id}
        AND dp_analysis_id = #{dp_analysis_id}
        AND alg_anal_id = #{alg_anal_id}
        AND param_id = #{param_id}
    </select>

    <select id="selectTargetField" resultType="string">
        SELECT project_target_field
        FROM PROJECT_INFO
        WHERE project_id = #{project_id}
    </select>

    <select id="selectProjectID" parameterType="string" resultType="string">
        SELECT project_id
        FROM LEARN_HIST
        WHERE learn_hist_no = #{histNo}
    </select>

    <select id="selectLearnLog" parameterType="string" resultType="string">
        SELECT logs
        FROM LEARN_HIST
        WHERE learn_hist_no = #{histNo}
    </select>

    <select id="selectHistNoStatus" parameterType="string" resultType="map">
      SELECT learn_hist_no, learn_sttus_cd
      FROM LEARN_HIST
      WHERE project_id = #{projectId}
    </select>

    <select id="selectProjectTag" parameterType="string" resultType="string">
      SELECT tag
      FROM PROJECT_INFO
      WHERE project_id = #{projectId}
    </select>


    <update id="updateProjectSttus" parameterType="map">
        UPDATE PROJECT_INFO
        SET    status = #{status}
        WHERE  project_id = #{project_id}
    </update>

    <update id="updateEDAStatus" parameterType="map">
      UPDATE EDA_INFO
      SET    status = #{status}
      WHERE  eda_id = #{eda_id}
    </update>

    <update id="updateUsedYN" parameterType="map">
        UPDATE ML_PARAM_INFO
        SET    used_yn = 'Y'
        WHERE  param_id = #{param_id}
    </update>

    <update id="updateLearnLog" parameterType="map">
        UPDATE LEARN_HIST
        SET    logs = #{logs}
        WHERE  learn_hist_no = #{learn_hist_no}
    </update>

    <update id="updateBookmark" parameterType="map">
      UPDATE LEARN_HIST
      SET    model_bookmark = #{bookmarkYN}
      WHERE  learn_hist_no = #{learn_hist_no}
    </update>

    <update id="updateModelAlias" parameterType="map">
      UPDATE LEARN_HIST
      SET    model_alias = #{model_alias}
      WHERE  learn_hist_no = #{learn_hist_no}
    </update>

    <update id="updateSelectNAll" parameterType="map">
      UPDATE LEARN_HIST
      SET    select_yn = 'N'
      WHERE  project_id = #{project_id}
    </update>

    <update id="updateSelectYOne" parameterType="map">
      UPDATE LEARN_HIST
      SET    select_yn = 'Y'
      WHERE  learn_hist_no = #{learn_hist_no}
    </update>
</mapper>
